{% extends "shop/base.html" %}
{% load static %}

{% block title %}
About
{% endblock title %}
{% block content %}
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>About</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<a href="/about">About</a>
			</div>
		</div>
	</div>
    <!-- Page info end -->
    <section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-2 order-lg-1">
					<h3 class="mb-2">About Us</h3>
					<p>This website is all about purchasing different products online. A user can view all the available products and gets access to add the product in their carts to purchase. Each and every product contains its own photo, descriptions with reasonable price. In order to purchase an item, the user has to enter product quantity and complete shipping address. There are different product categories too. This e-commerce website lists all products in user’s feed with its respective price. Without logging in as a user, he/she won’t get any access to purchase any items; only the user can check items and its details.</p>
					<p>+91 123456789</p>
					<p>website@contact.com</p>
					<div class="contact-social">
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
					
                </div>
				<div class="col-lg-6 order-2 order-lg-1 mb-5">
                    <img src="https://www.wallsandmurals.com/content/images/thumbs/0030014_wg20573_900.jpeg
                    " alt="">
				</div>
			</div>
        </div>
		
        




{% endblock content %}





	