{% extends "shop/base.html" %}
{% load static %}

{% block title %}
login
{% endblock title %}

{% block css %}
        <style>
         .submitpo{
             display: flex;
             justify-content: center;
         }
         #submitlogin{
             margin: 0 auto;
         }


         .loginheading{
             text-align: center;
             /* padding-left: 500px; */
         }
         #caccount{
             margin: 0 auto;
         }
         .messages{
             text-align: center;
         }
        </style>
{% endblock css %}

{% block content %}

<h3 class="loginheading mt-4">Sign In</h3>
<div class="messages mt-2">
    {% for i in messages %}
      {{i}}
      {%endfor%}
</div>
<div class="submitpo mb-5">
    <div class="col-sm-6 mx-5">
        <form method="POST" class="header-search-form">
            {% csrf_token %}
            <input class="my-4" type="text" name ="uname" placeholder="Username/Email">
            <input type="password" name="pw"  placeholder="Password">
            <div id="submitlogin" class="col-sm-6 mt-5">
                <input class="site-btn sb-line sb-dark" type="submit">
            </div>
            <div id="caccount" class="col-sm-5">
                <a href="/register" class="site-btn sb-line sb-dark mt-3">Create Account</a>
            </div>
        </form>

        
    </div>
</div>

{% endblock content %}
